<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="human" class="com.etherealhazel.spring.core.demo.app.domain.Human">  
        <constructor-arg ref="blueJeans"/>
    </bean>

    <bean id="blueJeans" class="com.etherealhazel.spring.core.demo.app.domain.BlueJeans">
    </bean>

    <bean id="CargoPants" class="com.etherealhazel.spring.core.demo.app.domain.CargoPants">
    </bean>    

    <!-- more bean definitions go here -->

</beans>